.details {
  text-align: center;
  font-size: large;
  display: flex;
  flex-wrap: wrap;
}
button:hover {
  cursor: pointer;
}
.transistions {
  height: 0;
  transition: 1s ease-out;
  opacity: 0;
}
.transistions_x {
  height: 100%;
  transition: 1s ease-out;
  opacity: 1;
}
